

.content{
	display: flex;
	flex-direction: column;
	width: 700px;
	min-height: 500px;
   	margin: 10px 10px 10px 10px;
}

.contentImg {
	position: relative;
	width: 680px;
	height: 300px;
	z-index: 0;
	background-image: url(https://www.w3schools.com/howto/img_snow_wide.jpg);
	border-radius:3px;
}

.profileImg{
	position: relative;
	margin-top: -100px;
	z-index: 4;
}

.profileImg img {
	z-index:0;
	width: 270px;
	height: 270px;
	border-radius: 50%;
	border:4px solid #28abec;
	box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
				inset 0 -15px 15px rgba(255,255,255,0.05),
				0 15px 15px rgba(0,0,0,0.05),
				inset 0 15px 15px rgba(0,0,0,0.05);
}


.vacantion{
	display: flex;
	align-items: baseline;
	flex-direction: column;
}
.vacantion span{
	font-size: 20px;
}

.vacantion span img {
	font-size: 20px;
	width: 70px;
	height: 50px;
}


.fullname {
	display: inline-block;
	position: relative;
	min-width: 200px;
	max-width: 300px;
	border-radius:5px;
}
.fullname span {
	align-items: center;
	font-size: 40px;
}

.profileStatus {
	position: relative;
	display: inline-block;
	font-size: 20px;
	min-width: 100px;
	max-width: 200px;
	border-radius: 5px;
	margin: 4px 4px;
	cursor: pointer;
}

.contacts {
	width: 500px;
	font-size: 15px;
	margin-top: 10px;
}

.contacts div{
	margin-left: 10px;
	text-decoration: underline;
}

.contacts div h1 {
	font-size: 15px;
	margin-top: 6px;
	text-decoration: none;
}

.contacts div h1:hover {
	color: rgb(216, 184, 0);
	font-size: 18px;
	margin-top: 6px;
	text-decoration: none;
}


.preLoader {
	display: flex;
	position: absolute;
	justify-content: center;
	top: 40%;
	left:50%;
}