.content{
   grid-area: content;
   background: lightgray;
   margin-left: 10px;
}

.block_content {
	width: 100%;
	margin-left: 10px;

}

.news_block{
   display:block;
   width: 650px;
   margin: 10px;
   background-color: rgb(197, 160, 160);
   border-radius: 5px;
   padding: 5px;
}

.news_block h1 {
  text-decoration: underline;
}

.news_block img {
   align-items: center;
   width: 630px;
   height: 400px;
}